GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

WREN_API_URL=
NOTIFY_API_URL=

# WrenAI Cloud (cloud.getwren.ai)
WREN_TOKEN=
WREN_ORG_ID=
APP_ENV=development

SECRET_KEY=
BUCKET_NAME=
GOOGLE_APPLICATION_CREDENTIALS=
BQ_SERVICE_ACCOUNT_KEY=

CLOUD_RUN_AUDIENCE=
TIMEOUT_SECONDS=

DATABASE_URL=

TABLEAU_BU1_SI_ID=
TABLEAU_BU1_SUB=
TABLEAU_BU1_CONNECTED_APP_CLIENT_ID=
TABLEAU_BU1_CONNECTED_APP_SECRET_ID=
TABLEAU_BU1_CONNECTED_APP_SECRET_VALUE=

TABLEAU_BU2_SI_ID=
TABLEAU_BU2_SUB=
TABLEAU_BU2_CONNECTED_APP_CLIENT_ID=
TABLEAU_BU2_CONNECTED_APP_SECRET_ID=
TABLEAU_BU2_CONNECTED_APP_SECRET_VALUE=
